body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
.cabecera{
    background-color: #2196F3;
    height: 100px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}
hr{
    border: 0;
    border-top: 1px solid #eee;
}
.cabecera h1{
    margin: auto;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.contenedor{
    background-color: #FFFFFF;
    margin: auto;
    width: 50%;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.contenedor h2{
    margin: 0;
    padding: 20px 0px 5px 0px;
    text-align: center;
    color: #212121;
}

.contenedor:last-of-type{
    margin-bottom: 20px;
}

.seleccion-boton{
    max-width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    padding-bottom: 20px;
}
.btn{
    background-color: #1976D2;
    color: #FFFFFF;
    padding: 10px 0px;
    min-width: 150px;
    margin: 5px;
    border-style: none;
    border-radius: 3px;
    text-transform: capitalize;
}
.btn:hover{
    background-color: #2196F3;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
}
.seccion-datos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.datos{
    width: 50%;
    color: #212121;

}
.dato-foto{
    align-items: center;
    margin: auto;
}
.material-icons{
    align-items: center;
    color: white;
    font-size: 200px;
    background-color: #2196F3;
    border-radius: 50%;
}
.titulo{
    font-size: 35px;
    margin: 20px 0 0 0;
    font-weight: 400;
    text-transform: capitalize;
}
.subtitulo{
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 20px;
}
span{
    color: #757575;
}
.no-capitalizado{
    text-transform: none;
}
.contenedor-select{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto 15px auto;
    align-items: center;
}
.btn-a{
    background-color: #1976D2;
    padding: 10px 30px;
    border-radius: 3px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
}
.btn-a:hover{
    background-color: #2196F3;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
}